.card{
    align-items: center;
    justify-content: center;
  }
      .card-img-top{
        border-bottom: 1px solid rgba(128, 128, 128, 0.242);
      }
      /* .card-title {
        
      }
      .divider{
        height: .5px;
        width: 100%;
        background-color: gray;
      } */
      .caracteristicas{
        display: flex;
      
        justify-content: center;
      }
      .text-secondary{
        margin-left: 1em;
      }
      .precio{
        font-size: 1.5rem;
      }
      .btn-success{
        margin-bottom: 1em;
      }
      .titulo{
        padding: .5em;
        border-bottom: 2px solid #198754;
      }


@media (min-width: 769px){
  .caracteristicas{
    flex-direction: column;
  }
}
@media (min-width: 1200px){
  .caracteristicas{
    flex-direction: row;
  }
}

@media (max-width: 300px){
  .caracteristicas{
    flex-direction: column;
  }
}
